body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
    display: inline;    
}

p {
    margin: 10px 0 10px 0;
}

.container h1{
    margin: 30px 0 10px 0;
}

.container hr{
    margin: 15px 0 40px;
}

.row-nav{
    display: flex;
    justify-content: center;
    align-items: center
}

.row-img{    
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center
}


.footer{
    width: 100%;
    background: linear-gradient(to right, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    color: #FFF;
}

.col-img{
    vertical-align: middle;
    width: 100%;
}

.centralizado{
    justify-content: center;
}